*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: cornflowerblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.Grid {
  display: grid;
  grid-template-columns: repeat(var(--column-count, 4), 1fr);
  gap: 1rem;
  max-width: 60rem;
  margin: auto;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .Grid {
    --column-count: 4;
  }
}
